@charset "UTF-8";
.fadein {
  animation: fadein 2s forwards;
  opacity: 0;
}

.delay_1 {
  animation-delay: 1s;
}

.delay_2 {
  animation-delay: 2s;
}

.delay_3 {
  animation-delay: 3s;
}

.delay_4 {
  animation-delay: 4s;
}

.delay_5 {
  animation-delay: 5s;
}

.delay_6 {
  animation-delay: 6s;
}

.delay_7 {
  animation-delay: 7s;
}

.delay_8 {
  animation-delay: 8s;
}

.delay_9 {
  animation-delay: 9s;
}

.delay_10 {
  animation-delay: 10s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "shrikhand";
  src: url("../../police/shrikhand/Shrikhand-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../police/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../police/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../police/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
.header_figure_link {
  text-decoration: none;
  color: black;
}
.header_figure_link:visited {
  text-decoration: none;
  color: black;
}

.restaurant_panneau_ref_txt_map_link {
  text-decoration: none;
  color: black;
}
.restaurant_panneau_ref_txt_map_link:visited {
  text-decoration: none;
  color: black;
}

.footer_ul_li_lien {
  text-decoration: none;
  color: white;
}
.footer_ul_li_lien:visited {
  text-decoration: none;
  color: white;
}
.footer_ul_li_lien_txt_1 {
  margin-left: 15px;
}
.footer_ul_li_lien_txt_2 {
  margin-left: 10px;
}

.menu_commander_button_link {
  text-decoration: none;
  color: white;
}
.menu_commander_button_link:visited {
  text-decoration: none;
  color: white;
}

.header {
  background-color: white;
}
.header_figure {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 3px 3px 3px #c3bebe;
  z-index: 2;
  position: relative;
}
.header_figure i {
  position: absolute;
  left: 25px;
  top: 20px;
  font-size: 1.5em;
}
.header_localisation {
  width: 100%;
  padding: 15px;
  background-color: #ebebeb;
  color: #3c3c3c;
  font-size: 1.2em;
  text-align: center;
  height: initial;
}
.header_localisation_txt {
  margin-left: 15px;
  font-weight: bold;
}
.header_explo {
  width: 100%;
  padding: 50px;
  background-color: #f6f6f6;
  text-align: center;
}
.header_explo_title {
  font-weight: bold;
  font-size: 1.7em;
}
.header_explo_txt {
  margin-top: 15px;
}
.header_explo_button {
  color: white;
  margin-top: 25px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(165deg, #ff79da, #9356dc);
}

.footer {
  color: white;
  background-color: #323232;
}
.footer_title {
  font-family: "shrikhand", serif;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}
.footer_ul {
  list-style: none;
  line-height: 1.8em;
  width: 90%;
  margin: auto;
}
.nav {
  width: 95%;
  margin: auto;
  margin-top: 45px;
  padding-bottom: 35px;
}
.nav_h1 {
  width: 90%;
  margin: auto;
  font-weight: bold;
  font-size: 1.7em;
}
.nav_ul {
  list-style: none;
  line-height: 80px;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.nav_ul_li {
  margin: 20px;
}
.nav_ul_li_button {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border: none;
  font-size: larger;
  box-shadow: 3px 10px 15px #d4d4d4;
  position: relative;
  z-index: 1;
}
.nav_ul_li_button_content {
  display: flex;
}
.nav_ul_li_button_content_vignette {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #9356dc;
  position: absolute;
  left: -10px;
  color: white;
  font-size: 0.9em;
}
.nav_ul_li_button_content_vignette_txt {
  margin-left: 25px;
}
.nav_ul_li_button:focus {
  outline: 0;
}
.nav_ul_li_button:focus i {
  color: #9356dc;
}
.nav_ul_li_button:focus::after {
  opacity: 1;
}
.nav_ul_li_button:active {
  outline: none;
  border: none;
}
.nav_ul_li_button:hover {
  outline-style: none;
}
.nav_ul_li_button:hover i {
  color: #9356dc;
}
.nav_ul_li_button:hover::after {
  opacity: 1;
}
.nav_ul_li_button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e4d5f6;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 15px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "roboto", serif;
  margin: 0;
}

main {
  background: #f6f6f6;
}

.restaurant {
  padding-top: 50px;
  padding-bottom: 50px;
}
.restaurant_title {
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 1.7em;
}
.restaurant_panneau {
  background-color: white;
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px #ebebeb;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 15px;
}
.restaurant_panneau_ref {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  margin: auto;
  width: 95%;
}
.restaurant_panneau_ref_txt {
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.restaurant_panneau_ref_txt_titre {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurant_panneau_img {
  width: 100%;
  height: 170px;
  position: relative;
}
.restaurant_panneau_img_new {
  background-color: #99e2d0;
  display: inline;
  padding: 7px 10px 7px 10px;
  font-size: 0.9em;
  color: green;
  font-weight: 600;
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurant_panneau_img_vignette {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.main_figure {
  width: 100%;
  height: 300px;
}
.main_figure_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.main_article {
  width: 100%;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  position: relative;
  background-color: #f6f6f6;
}
.main_article_title {
  font-family: "shrikhand", serif;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  width: 90%;
  margin: auto;
  padding-top: 35px;
}

.menu {
  width: 90%;
  margin: auto;
}
.menu_commander {
  display: flex;
  justify-content: center;
  padding: 35px 0 50px 0;
}
.menu_commander_button {
  color: white;
  margin-top: 25px;
  padding: 15px 35px 15px 35px;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  background: linear-gradient(165deg, #ff79da, #9356dc);
}
.menu_title {
  font-size: 1.2em;
  padding-top: 35px;
  position: relative;
}
.menu_title_underline {
  border: 2px solid #99e2d0;
  border-radius: 2px;
  width: 50px;
  margin-left: 0;
  margin-bottom: 15px;
}
.menu_plat {
  display: flex;
}
.menu_plat_cellule {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 3px 10px 15px #d4d4d4;
}
.menu_plat_cellule:hover {
  animation: borderadius 2s forwards;
}
.menu_plat_cellule:hover ~ .menu_plat_validation {
  width: 15%;
}
.menu_plat_cellule:hover ~ .menu_plat_validation i {
  display: flex;
  animation: spinok 550ms forwards;
}
.menu_plat_cellule_txt {
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_plat_cellule_txt_1 {
  font-size: 1.1em;
  font-weight: 600;
}
.menu_plat_cellule_txt_2 {
  font-size: 0.9em;
}
.menu_plat_cellule_prix {
  font-weight: 600;
  padding-top: 30px;
}
.menu_plat_validation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  background-color: #99e2d0;
  font-size: 1.8em;
  color: white;
  transition: all 400ms;
  border-radius: 0 15px 15px 0;
  margin-bottom: 15px;
}
.menu_plat_validation i {
  display: none;
}

@keyframes spinok {
  from {
    transform: rotate(150deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes borderadius {
  0% {
    border-radius: 15px 15px 15px 15px;
  }
  1% {
    border-radius: 15px 0 0 15px;
  }
  100% {
    border-radius: 15px 0 0 15px;
  }
}
@-webkit-keyframes spinok {
  from {
    -webkit-transform: rotate(150deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes borderadius {
  0% {
    -webkit-border-radius: 15px 15px 15px 15px;
  }
  1% {
    -webkit-border-radius: 15px 0 0 15px;
  }
  100% {
    -webkit-border-radius: 15px 0 0 15px;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1000;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  animation: test 3s;
  animation-direction: reverse;
}
.loader_anim {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loader_anim::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loader_anim::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes test {
  from {
    z-index: -1000;
    display: none;
  }
  to {
    z-index: 1000;
    display: block;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
.index_icon_heart {
  position: relative;
  border: none;
  background-color: transparent;
  width: 10%;
}
.index_icon_heart:hover .index_icon_heart_1 {
  opacity: 0;
  z-index: -1;
}
.index_icon_heart:hover .index_icon_heart_2 {
  opacity: 1;
  z-index: 1;
}
.index_icon_heart:focus {
  outline: 0;
}
.index_icon_heart:focus .index_icon_heart_1 {
  opacity: 0;
  z-index: -1;
}
.index_icon_heart:focus .index_icon_heart_2 {
  opacity: 1;
  z-index: 1;
}
.index_icon_heart_1 {
  font-size: 1.5em;
  z-index: 1;
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 0;
}
.index_icon_heart_2 {
  font-size: 1.5em;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 3s;
}

.menu_icon_heart {
  position: relative;
  border: none;
  background-color: transparent;
  width: 10%;
}
.menu_icon_heart:hover .menu_icon_heart_1 {
  opacity: 0;
  z-index: -1;
}
.menu_icon_heart:hover .menu_icon_heart_2 {
  opacity: 1;
  z-index: 1;
}
.menu_icon_heart:focus {
  outline: 0;
}
.menu_icon_heart:focus .menu_icon_heart_1 {
  opacity: 0;
  z-index: -1;
}
.menu_icon_heart:focus .menu_icon_heart_2 {
  opacity: 1;
  z-index: 1;
}
.menu_icon_heart_1 {
  font-size: 1.5em;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.menu_icon_heart_2 {
  font-size: 1.5em;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 3s;
}

.menu_plat_cellule {
  -webkit-animation: menu 2s linear 1;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: menu 2s linear 1;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes test {
  from {
    z-index: -1000;
    display: none;
  }
  to {
    z-index: 1000;
    display: block;
  }
}
@media screen and (min-width: 991.98px) {
  /* Rédigez vos propriétés CSS ici */
  .restaurant_container {
    display: flex;
  }

  .restaurant_container_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .restaurant_container_2 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .footer_title {
    display: flex;
    justify-content: center;
  }

  .footer_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu_container {
    display: flex;
  }

  .menu_sous_container {
    width: 50%;
  }

  .menu_commander_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
