.fadein {
  animation: fadein 2s forwards;
  opacity: 0;
}

@for $i from 1 through 10000 {
  .delay_#{$i} {
    animation-delay: 1s * $i;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
