@font-face {
  font-family: "shrikhand";
  src: url("../../police/shrikhand/Shrikhand-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../../police/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../police/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../police/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
